version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: web
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./pastel360-api:/var/www
    networks:
      - web_net

networks:
  web_net:
    driver: bridge
